@using WebAppProject.ViewModels
@model MealMenuVM

<link rel="stylesheet" href="~/css/EditMeal.css" asp-append-version="true" />

<div class="nav_bar">
    <div class="nav_bar_list">
        <ul>
            <li>
                <form asp-action="DeleteAll" method="post">
                    <input id="button_deleteall" type="submit" class="button_delete" value="Xóa tất cả danh sách món" onclick="return confirmAction()">
                </form>
            </li>
            <li>
                <form asp-action="delete_register_all" method="post">
                    <input id="button_delete_register_all" type="submit" value="Xóa danh sách đăng ký" onclick="return confirmAction()"/>
                </form>
            </li>
        </ul>
    </div>
</div>  
<div class="display_number_info">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</div>

<div class="display_db">
    <div class="row">
        <div class="col-4">
            <div class="table_1">
                <h5>Bảng món cơ bản</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Thứ</th>
                            <th>Món</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.BasicMeal)
                        {
                            <tr>
                                <th>@data.Id</th>
                                <th>@data.Day</th>
                                <th>@data.Name</th>
                                <th>
                                    <form asp-action="BasicMealDelete" method="post" asp-route-id="@data.Id">
                                        <input type="submit" class="btn btn-danger" value="Xóa" />
                                    </form>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="table_2">
                <h5>Bảng món chính</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Thứ</th>
                            <th>Món</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.MainMeal)
                        {
                            <tr>
                                <th>@data.Id</th>
                                <th>@data.Day</th>
                                <th>@data.Name</th>
                                <th>
                                    <form asp-action="MainMealDelete" method="post" asp-route-id="@data.Id">
                                        <input type="submit" class="btn btn-danger" value="Xóa" />
                                    </form>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="table_3">
                <h5>Bảng món phụ</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Thứ</th>
                            <th>Món</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.SideMeal)
                        {
                            <tr>
                                <th>@data.Id</th>
                                <th>@data.Day</th>
                                <th>@data.Name</th>
                                <th>
                                    <form asp-action="SideMealDelete" method="post" asp-route-id="@data.Id">
                                        <input type="submit" class="btn btn-danger" value="Xóa" />
                                    </form>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const xValues = ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6"];
    const yValues = [@Model.monday_count,@Model.tuesday_count,@Model.wednesday_count,@Model.thursday_count,@Model.friday_count];
    const barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Số lượng đăng ký cơm trưa",
                fontColor : "red"
            },
            legend: {
                labels: {
                    fontColor : 'red'
                }
            }
        }
    });

    function confirmAction() {
        return confirm("Bạn chắc chắn muốn xóa không ?");
    }
</script>